.button {
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  color: #ffffff;
  background-color: transparent;
  border: none;
  padding: 0.625rem;
  border-radius: 1.25rem;
  font-size: 0.75rem;
  cursor: pointer;

  &.backgroundDarkBlue {
    background-color: #1d204a;
  }
  &.backgroundTeal {
    background-color: #349d8f;
  }
  &.backgroundBlue {
    background-color: #407ec2;
  }

  &.activeRed {
    background-color: #f83b3b;
  }
  &.activeWhite {
    background-color: #ffffff;
    color: #010339;
  }
  &.radiusRight {
    border-radius: 0 1.25rem 1.25rem 0;
  }
  &.radiusLeft {
    border-radius: 1.25rem 0 0 1.25rem;
  }
  &.sizeTiny {
    font-size: 0.6rem;
    padding: 0.375rem 0.625rem;
  }
  &.sizeSmall {
    padding: 0.375rem 1.25rem;
  }
  &.sizeMedium {
    padding: 0.625rem 1.25rem;
  }
  &.sizeLarge {
    border-radius: 1.875rem;
    padding: 0.75rem 1.125rem;
    font-size: 1rem;
  }
  &.block {
    width: 100%;
  }
  &.text {
    color: #f83b3b;
    text-decoration: underline;
  }
  &.bold {
    font-size: 700;
  }
}
