@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap");

//pages
@import "./Homepage.scss";

//components

@import "../components/MainViewContainer/MainViewContainer.module.scss";
