* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body{
  background-color: #182151;
}
  /* SINAYICI
.tam-ekran{background-color: red;}
.site{background-color: purple;}
header{background-color: aqua;}
main{background-color: darkgreen;}
footer{background-color: rgb(81, 81, 81);}
.siteler{background-color: gray;}
.düğme{background-color: #111A42}
.süzgeç{background-color: rgb(255, 187, 0);}
.arama{background-color: red;}
  /**************/
  
  .site, header, footer
  {display: grid;}

  .tam-ekran, main, 
  .logo, .yansite, .siteler,
  .düğme, .arama
  {display:flex;}

  header, footer, main > :not(iframe)
  {padding: 10px;}

  .tam-ekran {    
    flex: 1 0 0;
    flex-direction: column;
    height: 100vh;
  }
  
  .site {
    grid-template-rows: 0fr 1fr 0fr;
    height: 100%; 
  }
  
  header {
    grid-auto-columns: 1fr;
    grid-template-columns: 0fr 0fr 1fr;
    grid-template-rows: 0fr 0fr 0fr;
    gap: 5px;
    grid-template-areas:
      "logo yansite yansite"
      "düğme arama arama"
      "süzgeç süzgeç süzgeç";
    background-image: linear-gradient(transparent 80%, rgb(24, 33, 81) 100%), url("/header-bg-mobile.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  header .logo     {grid-area: logo;}
  header .yansite  {grid-area: yansite;}
  header .düğme    {grid-area: düğme;}  
  header .süzgeç   {grid-area: süzgeç;}  
  header .arama    {grid-area: arama;}

  .logo {    
    align-items: center;
    gap: 10px;
  }
  
  .logo img {
    width: 30px;
  }
  
  .yansite {    
    align-items: center;
    justify-content: end;
    gap: 10px;
  }
  
  .düğme{
    flex-wrap: nowrap;
    align-items: center;
  }
  .düğme button{
    background-color: #fff;
    color: #111A42;
    border: none;
    cursor: pointer;
    font-family: SegoeUI,sans-serif;
    padding: 5px;
  }
  .düğme button.etkin{
    background-color: #F83B3B;
    color: #fff;
  }

  .düğme button:first-of-type{
    border-radius: 0.5rem 0 0 0.5rem;
  }
  .düğme button:last-of-type{
    border-radius: 0 0.5rem 0.5rem 0;
  }

  .süzgeç > .düğme{
    padding: 1px;
    border-radius: 0.5rem;
    border: 1px solid rgb(255, 255, 255);
    align-self: center;
  }
  .süzgeç > .düğme > button{
    border-radius: 0.5rem;
  }
  .süzgeç > .düğme > button:not(.etkin){
    background-color: transparent;
    color: #fff;
  }
  .süzgeç > .düğme > .simge{
    margin-left: auto;
    margin-right: 5px;
  }

  .arama > input{
    width: 100%;
    border-radius: 0.625rem;
    padding: 0.2rem 0.5rem;
    outline: none;
    border: 1px solid white;
    font-size: 0.625rem;
  }

  .siteler {    
    flex: 0 0 0;
    gap: 5px;
    padding: 5px;
  }
  .siteler > a{
    display: flex;
  }
  .siteler img{
    width: 30px;
  }

  
  /* Değişebilir */
  .il-süzgeçi > .düğme{
    display: grid; 
    grid-auto-rows: 1fr; 
    grid-template-columns: repeat(3, 1fr); 
    gap: 5px; 
  }
.il-süzgeçi > .düğme > button{
  background-color: inherit;
  border: 1px solid #fff;
  border-radius: 10px;
  color: #fff;
  font-size: .75rem;
  outline: hidden;
  padding: .325rem;
}
.il-süzgeçi > .düğme > button.etkin{
  background-color: #fff;
  color: inherit;
}
