.cardWrapper {
  box-sizing: border-box;
  margin: 0;
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  min-width: 320px;
  margin: auto;
  width: 100%;
  height: 100%;

  .cardHeader {
    display: inline-block;
    padding-bottom: 5px;

    .cardHeaderTitle {
      font-family: "'Roboto', sans-serif";
      font-style: normal;
      font-weight: 700;
      font-size: calc(10px + 0.390625vw);
      vertical-align: middle;
      padding-left: 5px;
      padding-bottom: 5px;

      &::before {
        vertical-align: middle;
        display: inline-block;
        width: calc(12px + 0.390625vw);
        height: calc(15px + 0.390625vw);
        align-items: center;
        margin-right: 3px;
      }

      &:global(.hastane) {
        color: #4bd80e;
        &::before {
          content: url("data:image/svg+xml,%3Csvg viewBox='0 0 137 138' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M41.0278 82.4009H50.1451V91.5182H41.0278V82.4009Z' fill='%238CF134'/%3E%3Cpath d='M63.821 82.4009H72.9383V91.5182H63.821V82.4009Z' fill='%238CF134'/%3E%3Cpath d='M86.6143 82.4009H95.7316V91.5182H86.6143V82.4009Z' fill='%238CF134'/%3E%3Cpath d='M120.806 127.987V20.8612H100.29V0.345215H36.4692V20.8612H15.9573V127.991H0V137.109H136.76V127.991L120.806 127.987ZM45.5865 9.46252H91.173V55.049H45.5865V9.46252ZM111.689 127.987H72.9384V109.753H63.8211V127.987H25.0746V29.9785H36.4733V64.1704H100.294V29.9785H111.693L111.689 127.987Z' fill='%238CF134'/%3E%3Cpath d='M72.9385 18.5801H63.8212V27.6974H54.7039V36.8147H63.8212V45.932H72.9385V36.8147H82.0558V27.6974H72.9385V18.5801Z' fill='%238CF134'/%3E%3C/svg%3E");
        }
      }
      &:global(.eczane) {
        color: #f83b3b;
        &::before {
          content: url("data:image/svg+xml,%3Csvg viewBox='0 0 144 138' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M76.5025 11.3177C91.745 -3.31392 116.456 -3.31205 131.696 11.3219C146.936 25.9558 146.934 49.6803 131.692 64.3119L67.2963 126.136C52.0538 140.768 27.3428 140.766 12.1026 126.132C-3.13748 111.498 -3.13553 87.7738 12.107 73.1422L76.5025 11.3177ZM122.49 55.4775L94.8975 81.9766L58.0988 46.6472L85.7 20.1563C95.859 10.3995 112.333 10.3976 122.495 20.1516C132.657 29.9056 132.659 45.7218 122.499 55.4781L122.49 55.4775Z' fill='%23F83B3B'/%3E%3C/svg%3E");
        }
      }
      &:global(.veteriner) {
        color: #fc6868;
        &::before {
          height: calc(12px + 0.390625vw);
          content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15.75' height='13.251' viewBox='0 0 15.75 13.251'%3E%3Cg id='Group_10313' data-name='Group 10313' transform='translate(-4958.003 1985.642)'%3E%3Cg id='paw-sharp' transform='translate(4958.003 -1985.642)'%3E%3Cpath id='Path_338' data-name='Path 338' d='M16.929,18.909a3.257,3.257,0,0,0-1.611-1.6,3.847,3.847,0,0,1-1.449-1.242c-.962-1.6-1.491-2.57-3.068-2.57s-2.107.968-3.072,2.57a3.852,3.852,0,0,1-1.452,1.245,3.264,3.264,0,0,0-1.611,1.594,2.422,2.422,0,0,0-.168.9,2.343,2.343,0,0,0,2.245,2.353c1.179,0,2.734-.578,4.061-.578s2.86.578,4.054.578A2.329,2.329,0,0,0,17.1,19.81a2.429,2.429,0,0,0-.171-.9Z' transform='translate(-2.924 -8.913)' fill='%23ff6464'/%3E%3Cpath id='Path_339' data-name='Path 339' d='M4.8,12.418a2.1,2.1,0,0,1-1.837,2.293,2.1,2.1,0,0,1-1.838-2.294,2.1,2.1,0,0,1,1.838-2.293A2.1,2.1,0,0,1,4.8,12.418Z' transform='translate(-1.125 -7.067)' fill='%23ff6464'/%3E%3Cpath id='Path_340' data-name='Path 340' d='M12.675,5.668a2.1,2.1,0,0,1-1.837,2.293A2.1,2.1,0,0,1,9,5.668a2.1,2.1,0,0,1,1.838-2.293,2.1,2.1,0,0,1,1.838,2.294Z' transform='translate(-5.325 -3.374)' fill='%23ff6464'/%3E%3Cpath id='Path_341' data-name='Path 341' d='M22.8,5.668a2.1,2.1,0,0,1-1.837,2.293,2.1,2.1,0,0,1-1.838-2.294,2.1,2.1,0,0,1,1.838-2.293A2.1,2.1,0,0,1,22.8,5.668Z' transform='translate(-10.725 -3.374)' fill='%23ff6464'/%3E%3Cpath id='Path_342' data-name='Path 342' d='M30.675,12.418a2.1,2.1,0,0,1-1.837,2.293A2.1,2.1,0,0,1,27,12.418a2.1,2.1,0,0,1,1.838-2.293,2.1,2.1,0,0,1,1.838,2.294Z' transform='translate(-14.925 -7.067)' fill='%23ff6464'/%3E%3C/g%3E%3Cpath id='plus' d='M4.667,1.956v.618a.294.294,0,0,1-.093.219.312.312,0,0,1-.225.09H2.97V4.221a.294.294,0,0,1-.093.219.312.312,0,0,1-.225.09H2.015a.312.312,0,0,1-.225-.09A.294.294,0,0,1,1.7,4.221V2.883H.318a.312.312,0,0,1-.225-.09A.293.293,0,0,1,0,2.574V1.956a.294.294,0,0,1,.093-.219.312.312,0,0,1,.225-.09H1.7V.309A.294.294,0,0,1,1.79.09.312.312,0,0,1,2.015,0h.636a.312.312,0,0,1,.225.09A.294.294,0,0,1,2.97.309V1.647H4.349a.312.312,0,0,1,.225.09.294.294,0,0,1,.093.219Z' transform='translate(4963.604 -1978.705)' fill='%23fff'/%3E%3C/g%3E%3C/svg%3E");
        }
      }
      &:global(.psikolog) {
        color: #9b67c6;
        &::before {
          height: calc(15px + 0.390625vw);
          content: url("data:image/svg+xml,%3Csvg viewBox='0 0 129 138' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.03403 137C12.5354 137.061 113.033 137 119.534 137C126.035 137 128.031 131 128.031 121.5C128.031 112 110.529 79.5014 65.0312 79.5C19.534 79.4986 -0.953721 107.233 0.0340304 121.5C1.02178 135.767 3.53267 136.939 8.03403 137Z' fill='%239B67C6'/%3E%3Cpath d='M63.5312 68C82.3089 68 97.5312 52.7777 97.5312 34C97.5312 15.2223 82.3089 0 63.5312 0C44.7535 0 29.5312 15.2223 29.5312 34C29.5312 52.7777 44.7535 68 63.5312 68Z' fill='%239B67C6'/%3E%3Cpath d='M68.7659 20H59.6486V29.1173H50.5312V38.2346H59.6486V47.3519H68.7659V38.2346H77.8832V29.1173H68.7659V20Z' fill='white'/%3E%3C/svg%3E");
        }
      }
      &:global(.diyaliz) {
        color: #aa0000;
        &::before {
          height: calc(12px + 0.390625vw);
          content: url("data:image/svg+xml,%3Csvg viewBox='0 0 192 144' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M69.7267 67.9588C75.246 61.9166 78.4583 45.4597 76.774 33.2471C75.0897 21.0346 73.2499 3.99656 49.8663 3.03516C26.4828 2.07376 10.2442 20.8387 2.77793 58.3167C-4.68832 95.7946 3.07349 129.458 23.9197 136.096C44.7658 142.734 59.4761 136.747 66.5235 130.311C73.5708 123.875 81.0111 109.017 67.1641 86.2788C68.2555 84.6532 68.8261 83.5098 69.7267 80.815C79.8234 85.8104 82.6396 91.8655 83.1806 107.813C83.4706 121.052 82.6967 128.849 80.2976 143.167H88.6262C91.5249 129.874 92.624 122.166 93.4312 107.813C93.5601 95.6267 92.8167 89.615 89.5872 80.815C84.9316 71.5212 80.6911 68.5627 69.7267 67.9588Z' fill='%23AA0000'/%3E%3Cpath d='M122.273 67.9588C116.754 61.9166 113.542 45.4597 115.226 33.2471C116.91 21.0346 118.75 3.99656 142.134 3.03516C165.517 2.07376 181.756 20.8387 189.222 58.3167C196.688 95.7946 188.927 129.458 168.08 136.096C147.234 142.734 132.524 136.747 125.477 130.311C118.429 123.875 110.989 109.017 124.836 86.2788C123.744 84.6532 123.174 83.5098 122.273 80.815C112.177 85.8104 109.36 91.8655 108.819 107.813C108.529 121.052 109.303 128.849 111.702 143.167H103.374C100.475 129.874 99.376 122.166 98.5688 107.813C98.4399 95.6267 99.1833 89.615 102.413 80.815C107.068 71.5212 111.309 68.5627 122.273 67.9588Z' fill='%23AA0000'/%3E%3Cpath d='M96 37C103.732 37 110 30.7552 110 23.0531C110 20.4774 109.493 17.8165 108.042 15.8987L96 -2.31875e-06L83.9581 15.8987C82.6386 17.6408 82 20.72 82 23.0531C82 30.7552 88.2675 37 96 37Z' fill='%23AA0000'/%3E%3C/svg%3E");
        }
      }
    }
    .cardHeaderIcon {
      width: 16px;
      height: 16px;
      vertical-align: middle;
    }
  }

  .cardOrgName {
    padding-bottom: 10px;

    a {
      font-family: Roboto, sans-serif;
      font-weight: 600;
      font-size: calc(15px + 0.390625vw);
      text-decoration: none;
      color: #182151;
    }

    .cardOrgPhone {
      display: block;
      padding-top: 10px;

      a {
        display: flex;
        color: #182151;
        text-decoration: none;
        align-items: center;
        font-size: calc(10px + 0.390625vw);
        font-weight: 400;

        &::before {
          vertical-align: middle;
          display: inline-block;
          width: calc(8px + 0.390625vw);
          align-items: center;
          margin-right: 2px;
          content: url("data:image/svg+xml,%3Csvg viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.02 18.3307L18.0657 21.2611C17.6298 21.7081 17.0518 21.86 16.489 21.8606C13.9997 21.7861 11.6467 20.5633 9.71496 19.3079C6.54357 17.0008 3.6335 14.1402 1.80773 10.683C1.10698 9.23323 0.285179 7.3836 0.363751 5.7656C0.370735 5.15681 0.534863 4.55967 0.963225 4.16739L3.91752 1.21484C4.53097 0.693354 5.12404 0.873197 5.51689 1.4814L7.89325 5.98793C8.14352 6.52163 7.99976 7.09375 7.62669 7.47555L6.53833 8.56334C6.4714 8.65529 6.42833 8.76006 6.42716 8.87413C6.84447 10.4898 8.1086 11.9786 9.22548 13.0035C10.3424 14.0284 11.5431 15.4165 13.1011 15.7454C13.2938 15.7989 13.5295 15.8181 13.6674 15.6901L14.9333 14.4027C15.3698 14.0721 16.0001 13.9103 16.4657 14.1809H16.4878L20.7744 16.7115C21.4035 17.1061 21.4693 17.8686 21.0188 18.3318L21.02 18.3307Z' fill='%23182151'/%3E%3C/svg%3E");
        }
      }
    }
  }

  .cardOrgInfo {
    padding: 10px 0;

    .cardOrgLocation {
      a {
        display: flex;
        color: #182151;
        text-decoration: none;
        align-items: center;

        &::before {
          vertical-align: middle;
          display: inline-block;
          width: calc(8px + 0.390625vw);
          height: calc(15px + 0.390625vw);
          align-items: center;
          margin-right: 3px;
          content: url("data:image/svg+xml,%3Csvg viewBox='0 0 17 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.49093 0.822266C3.8879 0.822266 0.153442 4.18394 0.153442 8.32601C0.153442 14.996 8.49093 24.1672 8.49093 24.1672C8.49093 24.1672 16.8284 14.996 16.8284 8.32601C16.8284 4.18394 13.094 0.822266 8.49093 0.822266ZM8.49093 12.4948C6.64906 12.4948 5.15593 11.0016 5.15593 9.15975C5.15593 7.31789 6.64906 5.82476 8.49093 5.82476C10.3328 5.82476 11.8259 7.31789 11.8259 9.15975C11.8239 11.0008 10.3319 12.4927 8.49093 12.4948Z' fill='%23182151'/%3E%3C/svg%3E");
        }
      }
    }

    .cardOrgAddress {
      padding-top: 10px;

      span {
        display: block;
        color: gray;
        padding-top: 10px;
      }
    }
  }
}
