.otherWrapper {
  display: flex;
  position: relative;
  align-items: center;
  gap: 10px;
}

.otherTitle {
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: white;
  font-size: 1.5rem;
  font-weight: 500;
  white-space: nowrap;
  display: none;

  @media (min-width: 1025px) {
    display: block;
  }
}

.logoContainer {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: rgba(255, 255, 255, 0.22);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 0.625rem;
  gap: 1.25rem;
  padding: 0.25rem 0.5rem;

  @media (min-width: 769px) {
    padding: 0.5rem 1rem;
  }

  & > a {
    background-color: white;
    border-radius: 50%;
  }

  & img {
    width: 2rem;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    @media (min-width: 769px) {
      width: 3.75rem;
    }
  }

  & a:nth-child(3) {
    padding: 0;
  }

  & a:nth-child(3) img {
    transform: scale(1.1);
  }

  & a:nth-child(3) img:hover {
    transform: scale(1.2);
  }

  & img:hover {
    transform: scale(1.1);
  }
}

.description {
  position: absolute;
  top: 6rem;
  right: 0;
  background: white;
  padding: 0.625rem;
  border-radius: 0.625rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  z-index: 1;

  & > p {
    font-family: "Roboto", sans-serif;
  }
}
