.SearchBoxWrapper {
  position: relative;
  flex-grow: 1;

  @media (min-width: 769px) {
    flex-grow: 0;
    min-width: 350px;
  }

  @media (min-width: 1025px) {
    min-width: 500px;
  }

  @media (min-width: 1441px) {
    min-width: unset;
    flex-grow: 1;
  }
}

.Input {
  height: 100%;
  border-radius: 0.625rem;
  padding: 0.5rem;
  outline: none;
  border: 1px solid white;
  width: 100%;
  font-size: 0.625rem;
  font-family: "Roboto", sans-serif;

  &::placeholder {
    font-family: "Roboto", sans-serif;
    font-size: 0.625rem;
  }

  @media (min-width: 769px) {
    font-size: 1.625rem;
    padding: 1.25rem 1.875rem 1.25rem 1.25rem;

    &::placeholder {
      font-size: 1.625rem;
    }
  }
}

.SearchIcon {
  height: 0.75rem;
  width: 0.75rem;

  @media (min-width: 769px) {
    height: 2rem;
    width: 2rem;
  }
}

.NoStyleButton {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.SearchIconWrapper {
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);

  @media (min-width: 769px) {
    right: 1.875rem;
  }
}
