.test-footer {
  display: none;
  background-color: #000;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.test-footer-h2 {
  color: palegoldenrod;
}

.test-footer-button {
  background-color: #fff;
  color: #000;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
}
