  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


  *{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
  }

  :root {
    --yerarkası-tüsü: #112255;
    --yazı-tüsü: #fff;
    --gap-1: 5px;
    --küçük-germede-düğmeler: 3;
    --ortanca-germede-düğmeler: 4;
  }

  body{
    font-family: Roboto, sans-serif;
    background-color: var(--yerarkası-tüsü);
  }

  .dolp-germe, header, main, footer{
    display: flex;
    flex-wrap: wrap;
  }
  .dolp-germe{
    flex-direction: column;
    height: 100vh;
  }
  header, footer, damga{
    flex: 0 0 0;
  }
  header{
    justify-content: space-between;
  }
  main{
    flex: 1 0 0;
  }

  /* DAMGA */
  damga a{
    display: flex;
    flex-wrap: nowrap;
  }
  damga img{
    width: 30px;
  }

  /* ARAMA */

  arama input{
    width: 100%;
  }

  /* SEÇEK */

  seçek{
    break-before: always;
  }

  düğmeler{
    display: grid;
    grid-template-columns: repeat(var(--küçük-germede-düğmeler), 1fr);
    gap: var(--gap-1);
    width: 100%;
  }
  düğmeler > button{
    width:100%;
  }

  @media screen and (min-width:768px) {
    arama{
      order: 1;
    }
    düğmeler{
      grid-template-columns: repeat(var(--ortanca-germede-düğmeler), 1fr);
    }
  }

  }
  }
  }

  }
    background-color: initial;
    color: #fff;
    flex-grow: 1;
    border: none;
    font-size: .75rem;
    padding: .3rem .2rem;
  }


    width: 100%;
  }
  }

  }
  
  }




